.LandingPage {
    height: 100%;

    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -2;
    }
    
    .overlay {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        color: #f1f1f1;
        width: 100%;
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1;

        a {
            text-decoration: none;
            color: white;
        }

        .plectrum {
            animation: slideInPlectrum 1s ease-in-out;
        }

        .signup {
            text-decoration: underline;
            text-shadow: 0 0 3px rgb(59, 59, 59);
            animation: slideInText 1s ease-in-out;
        }
        .rockhand {
            display: none;
        }
      }
}

// ============ queries ===========

@media (max-width: 700px) {
    .LandingPage {
        #myVideo {
            display: none;
        }

        .overlay {
            background: rgb(255, 255, 255);
            .signup {
                color: black;
                text-shadow: none;
            }
            .rockhand {
                display: inline-block;
                position: absolute;
                bottom: 0;
                animation: wave 3s ease-in-out infinite;
                img{
                    width: 100px;
                }
                @keyframes wave {
                    0% {
                        transform: rotate(0deg);
                        margin-left: 0;
                    }
                    25% {
                        transform: rotate(30deg);
                        margin-left: 3rem;
                    }
                    50% {
                        transform: rotate(0deg);
                        margin-left: 0rem;
                    }
                    75%{
                        transform: rotate(-30deg);
                        margin-left: -3rem;
                    }
                }
            }
        }   
        
    }
}

// ========== animations =========

@keyframes slideInPlectrum {
    0% {
      opacity: 0;
      transform: rotate(0deg)
    }
    100% {
        opacity: 1;
        transform: rotate(360deg)
    }
  }

  @keyframes slideInText {
    0% {
      opacity: 0;
      padding-left: 100px;
    }
    100% {
        opacity: 1;
        padding-left: 0;
    }
  }