.comments {
    ul {
        list-style-type: none;

        li {
            // padding-bottom: 1rem;
            word-break: break-all;
            
            a {
                color: white;
                display: inline-block;
                font-size: 1.3rem;
                margin-bottom: .2rem;
                padding: 0;
            }

            span {
                font-size: .7rem;
                display: inline-block;
                margin-bottom: .9rem;
            }
        }
        
    }
}