svg.H_icon {
    width: 18px;
    float: right;
}

.H_el {
    background-color: white;
    width: 100px;
}

.user-info-box {
    position: fixed;
    bottom: 0;
}

.map-container {
    width: 100vw;
    padding: 1rem;
    background-color: rgb(238, 238, 238);
}

#map {
    position: relative;
    height: 40vh !important;
    width: 90vw !important;
    margin: 0 auto;
    margin-bottom: 1rem;
}